/* Body */

body {
    box-sizing: border-box;
    background: #F6F6F6;
}

.header__mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 82px;
    padding: 16px;
    background-color: #fff;
    display: none;
}

.mobile__section__left {
    margin-right: 20px;
    padding: 6px;
    width: 12px;
    height: 16px;
}

.mobile__section__middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile__section__middle_img {
    width: 24px;
    height: 24px;
}

.mobile__section__middle_title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
}

/* Header */

.header {
    background-color: #eeeeee;
    max-width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* Lý do ở đây không dùng bottom là vì có height rồi */

    margin-bottom: 40px;
    z-index: 999;
}

.left-section,
.left__section__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-section {
    width: 40%;
    justify-content: space-between;
}

.logo__company__img {
    width: 32px;
    height: 32px;
    margin-right: 14px;
}

.logo__company__name {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 145.455% */
}

.middile-section {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.list__categories {
    margin-right: 48px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
}

.list__categories:hover .sub-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    margin-top: 65px;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 6px;
    margin-bottom: 2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.sub-menu {
    position: absolute;
    background-color: #fff;
    left: -200px;
    right: 0;
    padding: 20px;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    width: 1300px;
}

.sub-menu::before {
    content: "";
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 230px;
    top: -20px;
    z-index: 10;
}

.sub-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 130px;
    left: 190px;
    top: -100px;
    background-color: red;
    opacity: 0;
}

.sub-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub__menu__departments {
    margin-left: 80px;
}

.sub__menu__setting {
    margin-right: 80px;
}

.departments--title--icon {
    position: relative;
    margin-bottom: 20px;
}

.departments--title--icon::after {
    content: "";
    width: 1px;
    height: 260px;
    background-color: #D2D1D6;
    position: absolute;
    top: 16px;
    left: 250px;
}

.icon__departments {
    position: absolute;
    top: 36px;
    left: 50px;
    z-index: 10;
}

.icon__tv {
    position: absolute;
    top: 26px;
    left: 400px;
    z-index: 10;
}

.icon__technology {
    position: absolute;
    bottom: 150px;
    left: 400px;
    z-index: 10;
}

.icon__computer {
    position: absolute;
    top: 50px;
    left: 700px;
    z-index: 10;
}

.icon__setting {
    position: absolute;
    top: 15px;
    left: 1040px;
    z-index: 10;
}

.icon__phone {
    position: absolute;
    bottom: 155px;
    left: 1040px;
    z-index: 10;
}

.sub__menu__departments--title,
.sub__menu__tv--title,
.sub__menu__technology--title,
.sub__menu__computer--title,
.sub__menu__setting--title,
.sub__menu__phone--title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.list__departments li, .list__tv li, .list__technology li, .list__computer li, .list__setting li, .list__phone li {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.right-section {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle__icon__container {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.search__icon__container {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.middle__icon__container {
    background-color: #fff;
    padding: 13px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.love__icon__container,
.cart__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.love__icon__container {
    border: 1px solid #eee;
    padding-right: 30px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.love-icon,
.cart-icon {
    margin-right: 10px;
}

.avatar {
    width: 80px;
    height: 80px;
}

/* body */

.container{
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%;
    display: flex;
}
