p {
    color: #9E9DA8;
}

body {
    background-color: #292E39;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
}

.right__Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.left__Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #171C28;
}

.left__Login--container {
    width: 422px;
    margin: 0 auto;
}

.intro__Login--top {
    max-width: 100%;
    margin-bottom: 49px;
}

.intro__Login--bottom {
    max-width: 100%;
    margin: 0 5px;
    text-align: center;
}

.right__Login--container {
    width: 460px;
}

.logo__Login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.logo__Login--img {
    width: 32px;
    height: 32px;
    margin-right: 14px;
}

.logo__Login--name {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 145.455% */
}

/* .title__Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
} */

.title__Login,
.form__Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.title__Login--top {
    color: #B9BABE;
    margin-bottom: 10px;
}

.title__Login--bottom {
    color: #9E9DA8;
    margin: 0 40px;
}

.form__Login--input {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
    height: 50px;
    border: 1px solid #b9babe;
    color: #b9babe;
    background-color: #292e39;

    padding: 15px;
    box-sizing: border-box;
}

.form__Login--bottom,
.form__Login--bottom--left {
    display: flex;
    align-items: center;
}

.form__Login--bottom {
    width: 100%;
    justify-content: space-between;
}

.form__Login--bottom--left input {
    margin-right: 10px;
}

.form__Login--bottom--right {
    color: #0071dc;
    text-decoration: none;
}

.form__Button {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.form__Button--btn {
    border-radius: 10px;
    height: 50px;
    color: #1a162e;
    font-weight: bold;
}

.btn-top {
    border: none;
    background-color: #ffb700;
    margin-bottom: 30px;
}

.btn-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #b9babe;
    color: #b9babe;
}

.btn-bottom-google {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.form__Switch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__Switch--text {
    color: #9e9da8;
}

.form__Switch--SignIn {
    margin-left: 10px;
    text-decoration: none;
    color: #0071dc;
}

@media screen and (max-width: 400px) {
    .left__Login,
    .left__Login--container {
        display: none;
    }

    .right__Login--container {
        margin-top: 80px;
        padding: 0 30px;
    }
    .title__Login--top {
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 145.455% */
    }
}
